html, body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;

    font-family:sans-serif;
    box-sizing:border-box;
}

.container {
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;

    background-color:rgb(255, 208, 253);

    box-sizing:border-box;
    height: 100%;
    width:100%;
}

#sidebar {
    position:relative;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
    
    box-sizing:border-box;
    padding: 5%;

    display:flex;
    flex-direction:column;
    
    background-color:rgb(205, 255, 255);
}

#logo {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: left;
    gap: 2%;
}

#logo img {
    object-fit:contain;
    height:6vh;
}

.sidebar-list {
    list-style-type:none;
}

#topbar {
    
    contain:layout;
    grid-column:2 / 3;
    grid-row:1/2;

    display:grid;
    grid-template-rows: 1fr 1fr;
    background-color:rgb(217, 177, 255);
} 

#search {
    display:grid;
    grid-template-columns: 2fr 1fr;
    justify-content:space-between;
    gap: 15%;
    background-color:blanchedalmond;
    
}

#searchbox {
    display:flex;
    background-color: rgb(237, 189, 154);
    align-items:center;
    justify-content:left;
    padding: 3%;
    gap: 2%;
}

#searchbox input {
    width: 100%;
    height: 70%;
    border-style:none;
    border-radius: 10px;
}

#searchbox img {
    object-fit:contain;
    height: 2vw;
    width:auto;
}

#identifiers {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap: 8%;
    background-color: rgb(240, 183, 163);
}

#identifiers img {
    height:4vh;
    width:auto;
}

#identifiers .icon {
    background-color:white;
    border-radius: 50px;
}

#mini-profile {
    display:flex;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(210, 184, 235);
    justify-content:space-between;
    align-items:center;
    padding-left: 1%;
    gap:5%
}


#greeting {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items:center;
    gap: 10px;
    row-gap: 0px;
}


#greeting > .icon {
    grid-column: 1 / 2;
    grid-row: 1/3;
    height: 8vh;
    background-color: white;
    border-radius: 50%;
    
}

#buttons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:darkseagreen;
    height:100%;
    width:clamp(40vw, 40%, 70vw);
    align-items:center;
}

.button {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: aqua;
    width: 6vw;
    height: 6vh;
    border-radius: 22%;
}

#content {
    grid-column: 2/3;
    display:grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(152, 217, 174);
    gap: 2%;
    padding: 1%;
}

#projects {
    background-color:rgb(231, 177, 177);
    display:flex;
    flex-direction:column;
    padding: 20px;
}

#cards {
    
    display:grid;
    grid-template-columns: repeat(auto-fit, 35vh);
    gap: 70px;
}

.card {
    display:flex;
    justify-content:end;
    background-color: darkslategray;
    height: 25vh;
    aspect-ratio: 16 / 10;
}

.card-content {
    background-color:rgb(163, 157, 200);
    height:25vh;
    aspect-ratio: 15/10;
}

.card-title {

}

.card-text {

}

.card-icons {

}

#news {
    background-color:rgb(159, 250, 250);
}