html, body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;

    font-family:sans-serif;
}

.container {
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;

    background-color:rgb(255, 208, 253);

    box-sizing:border-box;
    gap:10px;
    height: 100%;
    width:100%;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    
    box-sizing:border-box;
    padding: 5%;

    display:flex;
    flex-direction:column;
    
    background-color:rgb(205, 255, 255);
}

.sidebar-list {
    list-style-type:none;
}

#topbar {
    grid-column:2 / 3;
    grid-row:1/2;
    background-color:rgb(217, 177, 255);
}

#content {
    grid-column: 2/3;

    display:grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(152, 217, 174);
    gap: 2%;
    padding: 1%;
}

#projects {
    background-color:rgb(231, 177, 177);
}

#news {
    background-color:rgb(159, 250, 250);
}