html, body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;

    font-family:sans-serif;
}

.container {
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;

    background-color:rgb(255, 208, 253);

    box-sizing:border-box;
    height: 100%;
    width:100%;
}

#sidebar {
    position:relative;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
    
    box-sizing:border-box;
    padding: 5%;

    display:flex;
    flex-direction:column;
    
    background-color:rgb(205, 255, 255);
}

#logo {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: left;
    gap: 2%;
}

#logo img {
    object-fit:contain;
    height:6vh;
}

.sidebar-list {
    list-style-type:none;
}

#topbar {
    grid-column:2 / 3;
    grid-row:1/2;

    display:grid;
    grid-template-rows: 1fr 1fr;
    background-color:rgb(217, 177, 255);
}

#search {
    display:grid;
    grid-template-columns: 2fr 1fr;
    justify-content:space-between;
    gap: 15%;
    background-color:blanchedalmond;
}

#searchbox {
    display:flex;
    background-color: rgb(237, 189, 154);
    align-items:center;
    justify-content:left;
    padding: 3%;
    gap: 2%;
}

#searchbox input {
    width: 100%;
    height: 70%;
    border-style:none;
    border-radius: 10px;
}


#searchbox img {
    height: 5vh;
}


#identifiers {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap: 5%;
    background-color: rgb(240, 183, 163);
}

#identifiers img {
    height:5vh;
    width:5vh;
}

.icon {
    background-color:white;
    border-radius: 50px;
}

#mini-profile {
    background-color: rgb(210, 184, 235);
}

#content {
    grid-column: 2/3;
    display:grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(152, 217, 174);
    gap: 2%;
    padding: 1%;
}

#projects {
    background-color:rgb(231, 177, 177);
}

#news {
    background-color:rgb(159, 250, 250);
}